body {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Red);
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

#content {
  max-width: 375px;
  padding: 24px;
  display: grid;
  gap: 20px;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  
  #top-content {
    text-align: center;
    color: white;

    .top-title {
      font: var(--text-ft);
      margin-bottom: 10px;
    }
    
    .top-parag {
      font: var(--text-md);
    }
  }
}

.form-title {
  max-width: 375px;
  padding: 10px 30px;
  margin-bottom: 25px;
  font: var(--text-md);
  color: white;
  background-color: var(--Blue);
  text-align: center;
  border-radius: 10px;

  .form-offer {
    font: var(--text-md-ft);
  }
}

.form-content {
  padding: 20px;
  border-radius: 10px;
  background-color: white;

  .form-input, .form-button {
    font: var(--text-md-ft);
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--Grayish-Blue);
  }

  .form-button {
    color: white;
    text-transform: uppercase;
    background-color: var(--Green);
    box-shadow: 0px 5px 2px rgba(42, 150, 104, 0.7);
    border: none;
    cursor: pointer;
  }

  .form-parag {
    font: var(--text-sm);
    text-align: center;
    color: var(--Grayish-Blue);
    margin-top: 10px;

    .form-terms {
      font: var(--text-sm-ft);
      color: var(--Red);
    }
  }
}

.form-title, .form-content, .form-button {
  box-shadow: 0px 8px 2px rgba(0,0,0,.2);
}

@media screen and (min-width: 992px) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
    
      #content {
      max-width: 990px;
      grid-template-areas: 
      'top-left top-right';
      align-items: center;
      transition: width 0.5s ease-in-out, height 0.5s ease-in-out;

      #top-content {
        grid-area: 'top-left';
        min-width: 50%;
        text-align: left;
        
        .top-title {
          font-size: 3.8em;
          margin-bottom: 30px;
        }

        .top-parag {
          padding-right: 10px;
        }
      }

      #form-contents {
        grid-area: 'top-right';
        min-width: 50%;
        
        .form-title {
          max-width: 100%;
        }
        
        .form-input, .form-button {
          font-size: 1.6em;
        }
      }
    }
  }
}

@media screen and (min-width: 1201px) {
  #content {
    justify-self: center;
    /* max-width: 90%; */
    min-width: 90%;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;

    #top-content {
      .top-title {
        font-size: 4.2em;
      }

      .top-parag {
        font-size: 1.8em;
      }
    }

    #form-contents {
      .form-title {
        font-size: 1.8em;
      }

      .form-input, .form-button {
        font-size: 1.8em;
      }

      .form-parag {
        font-size: 1.5em;
      }

      .form-terms {
        font-size: 1.4em;
      }
    }
  }
}